/elpa
/elpa-*
/url
/auto-save-list
/backups
ido.last
network-security.data
recentf
/.mc-lists.el
/custom.el
*.elc
\#*
smex-items
snippets/

# below will ignore all files
# https://stackoverflow.com/a/3836976/4499942
*
!/*.el
!/lisp/
