/elpa
/elpa-*
/url
/eshell
/server
/auto-save-list
/backups
ido.last
network-security.data
recentf
/.mc-lists.el
/custom.el
*.elc
\#*
smex-items
snippets/
/elpy
.cache/
/projectile-bookmarks.eld
/projectile.cache
/request/
/tramp
